@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #BBAB8C; /* dark color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DED0B6; /* accent color */
}

/* Ensure the root element takes up the full viewport height */
#root {
  min-height: 100vh;
}
